/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/* Bootstrap Overrides */

/* Format Anchor Tags In Nav */
.navbar a {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

/* Over Ride Active Sylying */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #399bd1;
  background-color: inherit;
}

/* Add Jumbotron Background Image */
.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg');
}

.jumbotron-beer {
  background-image: url('../images/jumbotron-beer.jpg');
}

.jumbotron-flowers {
  background-image: url('../images/jumbotron-flowers.jpg');
}

.jumbotron-duffel {
  background-image: url('../images/jumbotron-duffel.jpg');
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.relative-wraper {
  position: relative;
  text-align: center;
  top: -16rem;
  width: 100%;
}

/* Jumbotron Button Styling */
.btn-primary {
  width: 11.4rem;
  padding: 1.3rem 0;
  border: 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-shadow: none;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Featured Project Section */

.featured-project {
  margin-top: -7.5rem;
}

/* Format image containers */
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: opacity 0.5s, transform 0.5s;
}

/* Format image container hover */
.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.featured-project .image-container {
  margin-top: 20px;
  height: 19rem;
}

.projects {
  margin-bottom: 5.85rem;
}

/* Help Section */
.help {
  padding: 5.2rem;
  text-align: center;
  background-color: #f3f3f3;
}

.help strong {
  font-size: 2.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .help strong {
    font-size: 2rem;
  }
}

.help p {
  max-width: 42rem;
  margin: auto;
  margin-top: 1.4rem;
}
